@keyframes spinning_animation {
    0% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
      -o-transform: scale(1) rotate(0deg);
    }
    50% {
      -webkit-transform: scale(0.8) rotate(360deg);
      transform: scale(0.8) rotate(360deg);
      -o-transform: scale(0.8) rotate(360deg);
    }
    100% {
      -webkit-transform: scale(1) rotate(720deg);
      transform: scale(1) rotate(720deg);
      -o-transform: scale(1) rotate(720deg);
    }
  }
  
  @keyframes rotate_circle {
    0% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
    }
    50% {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      -o-transform: rotate(30deg);
    }
    100% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
    }
  }
  
  @-webkit-keyframes spinning_animation {
    0% {
      -webkit-transform: scale(1) rotate(0deg);
    }
    50% {
      -webkit-transform: scale(0.8) rotate(360deg);
    }
    100% {
      -webkit-transform: scale(1) rotate(720deg);
    }
  }
  
  @-webkit-keyframes rotate_circle {
    0% {
      -webkit-transform: rotate(-30deg);
    }
    50% {
      -webkit-transform: rotate(30deg);
    }
    100% {
      -webkit-transform: rotate(-30deg);
    }
  }
  
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4)
    }
    20% {
      -webkit-transform: scaleY(1.0)
    }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  
  #ajax-loading-screen {
    background-color: #fff9;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000;
    display: none;
    &.loading {
      display: block;
    }
    .loading-icon {
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      position: absolute;
      opacity: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .default-loading-icon {
    top: 50%;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    display: block;
    position: relative;
    border: 3px solid #e5e5e5;
    margin-top: -20px;
    &:before {
      position: absolute;
      content: "";
      border-color: #e74b3c transparent transparent;
      border-radius: 100%;
      border-style: solid;
      border-width: 3px;
      display: block;
      height: 100%;
      width: 100%;
      top: -3px;
      left: -3px;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }
    &.spin {
      animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite spinning_animation;
      -webkit-animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite spinning_animation;
    }
  }
  