// Here you can add other styles
.dropdown-item {
    a, 
    a:active, 
    a:focus {
        display: block;
        color: initial;
        text-decoration: none;
        
    }
}

.pagination {
    margin-top: 20px;
}