// Here you can add other styles
.dropdown-item {
    a, 
    a:active, 
    a:focus {
        display: block;
        color: initial;
        text-decoration: none;
        
    }
}

button {
    border: none;
    background: #20a8d8;
    border-radius: 2px;
    color: #fff;
    box-shadow: none;
    outline: 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

button a {
    display: block;
}

.btn-light {
    a,
    a:hover {
        color: #333;
        text-decoration: none;
    }
}

.list--post-header {
    button {
        width: 200px;
        padding: 0;
    }
    a {
        display: block;
        padding: 0.375rem 0.75rem;
        text-decoration: none;
    }
    a:hover {
        color: #fff;
    }
}

table td {
    text-align: center;
}

.pagination {
    margin-top: 20px;
}

.form-actions button {
    margin-right: 15px;
}

.rdw-editor-main {
    border: 1px solid #F1F1F1;
    padding: 10px;
    border-radius: 2px;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
}

.create--post form {
    display: block;
    width: 100%;
}

.image-topic--wrapper {
    margin-top: 20px;
    .remove-image {
        margin-right: 10px;
    }
}

.react-tags__search-input {
    border: 1px solid #ccc;
    input {
        width: 100%;
        display: block;
        padding: 10px 0;
        border: none;
        outline: 0;
    }
}

.react-tags__search {
    margin: 10px 0; 
}

.react-tags__selected-tag,
.tag-item {
    cursor: pointer;
    padding: 5px 10px;
    background: #ccc;
    color: #333;
    border-radius: 2px;
    display: inline-block;
    margin: 5px 5px 0 0;
}

.react-tags__search-input {
    position: relative;
    div {
        background: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        left: 0;
        right: 0;
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }
}

.react-tags__suggestions {
    ul {
        padding: 10px 5px;
        background: #fff;
        border: 1px solid #ccc;
        margin-top: 5px;
        list-style-type: none;
        li {
            cursor: pointer;
        }
    }
}

.tag-item {
    background: #ccc;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}