.md-modal {
    position: fixed;
    bottom: 0;
    right: -170px;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    &.success {
      .md-content {
        background: #00d1b2;
      }
      .md-content {
        background: #00d1b2;
      }
      .md-close {
        background: #41bd9f;
      }
    }
    &.error {
      .md-content {
        background: #e74c3c;
      }
      .md-close {
        background: #d14436;
      }
    }
    &.warning {
      .md-content {
        background: #e74c3c;
      }
      .md-close {
        background: #d14436;
      }
    }
    .md-content {
      color: #fff;
      position: relative;
      border-radius: 3px;
      margin: 0 auto;
      -webkit-transform: translateX(20%);
      -moz-transform: translateX(20%);
      -ms-transform: translateX(20%);
      transform: translateX(20%);
      opacity: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
        font-size: 1.4em;
        font-weight: 300;
        opacity: 1;
        background: rgba(0,0,0,0.1);
        border-radius: 3px 3px 0 0;
        text-transform: uppercase;
      }
      & > div {
        padding: 15px 40px 30px;
        margin: 0;
        font-weight: 300;
        text-align: center;
        font-size: 18px;
        ul {
          margin: 0;
          padding: 0 0 30px 20px;
        }
      }
      button {
        display: inline-block;
        margin-right: 10px;
        font-size: 1em;
        text-transform: capitalize;
      }
    }
    &.md-show {
      visibility: visible;
      .md-content {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  